<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.epss.dao.GoodsMapper">
    <!--    查询操作 -->
    <select id="selectAll" resultType="Goods">
        select * from goods
    </select>
    <select id="selectByItemid" resultType="Goods">
        select * from goods where itemid=#{itemid}
    </select>
    <select id="selectByOwnername" resultType="Goods">
        select * from goods where owner=#{owner}
    </select>
    <!--    插入操作-->
    <insert id="insert" parameterType="Goods">
        insert into goods (itemname, owner, number) values (#{itemname},#{owner},#{number})
    </insert>
    <!--    删除操作-->
    <delete id="delete">
        delete from goods where itemid=#{itemid}
    </delete>
    <!--    修改操作-->
    <update id="update" parameterType="Goods">
        update goods set itemname=#{itemname},owner=#{owner},number=#{number} where itemid=#{itemid}
    </update>
<!--    <update id="minus" parameterType="Goods">-->
<!--        update user set username=#{username},password=#{password},usertype=#{usertype} where uid=#{uid}-->
<!--    </update>-->
</mapper>